body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    font-family: verdana;
    font-size: 20px;
    color: rgba(216, 230, 26, 0.616)
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgba(0, 38, 255, 0.884)
}

#startdatediv {
    display: inline-block;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    text-align: center;

}

#enddatediv {
    display: inline-block;
    width: 200px;
    text-align: left;
}